body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: orange;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav a {
    text-decoration: none;
    color: rgb(68, 65, 65);
}

.btn-primary {
    border-radius: 5px;
    background: #ff8935;
    color: white;
    border: none;
    padding: 18px 35px;
}

/*  Header ralated style */
.header {
    background-color: #f8e9de;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}

.banner .profile-pic {
    width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.banner-heading {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

main{
    max-width:1140px;
    margin: 0px auto;
}

main section{
    margin-top: 130px;
}

/* main section style */
.section-title {
    color:#474747;
    text-align:center;
    font-size:35px;
    font-weight:700;
}

.section-description {
    color:#757575;
    text-align:center;
    font-size:18px;
}

.about {
    padding: 10px 0px;
    background-color: #f8e9de;
    border-radius: 10px;
    margin:130px;
}

.about-info-container{
    display:flex;
    justify-content:space-around;
}
.about-info{
    text-align:center;
}
.info-description{
   
}

/* skill related style */

#what-i-do-descrioption{
    padding:30px auto;
}
.skill-container{
    display:flex;
    gap:24px;
    padding:30px;
    
}
.skil{
    padding:30px;
    border-radius:5px;
    background: white;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
}

.resume-container{
    display:flex;
    gap:50px;
}
.download-cv{
    text-align:center;
    margin-top:50px;
}